@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --yellow-custom: #EDBA83;
  --green-light-custom: #68B999;
  --green-dark-custom: #3D6B5C;
  --custom-light-gray: #E5E5E3;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sora: var(--font-sora);
  --font-unkempt: var(--font-unkempt);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sora);
}

.text-yellow-light-custom {
  color: var(--yellow-custom);
}

.text-green-light-custom {
  color: var(--green-light-custom);
}

.text-green-dark-custom {
  color: var(--green-dark-custom);
}

.border-custom-light-gray {
  border-bottom: .05rem solid var(--custom-light-gray);
}

.banner {
  background-color: #fafafa;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.216);
  border: 1px solid var(--green-light-custom);
  border-radius: 2rem;
  corner-shape: squircle;
}
